<style>
    .container {
        width: {{width}};
        height: {{height}};
        border: 1px solid black;
        text-align: center;
    }
    svg {
        position: relative;
        width: {{width}};
        height: {{height}};
    }
    .content {
        {{!-- font-family: monospace; --}}
        font-family: sans-serif;
        font-size: 10;
        position: relative;
        bottom: calc({{height}} - 4px);
        width: calc({{width}} - 10px);
        height: calc({{height}} - 10px);
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>

<div class="container">
    <svg viewbox="0 0 10 10" preserveAspectRatio="none">
        <line x1="0" y1="10" x2="10" y2="0" stroke="black" stroke-width="0.05" />
    </svg>
    <div class="content">
        <div class="first-line"><b>{{fio}}</b></div>
        <div><b>НЕ ДОПУЩЕН</b></div>
        <div>{{date}}</div>
        <div>{{reason}}</div>
        <div><ins>{{repeat}}</ins></div>
        <div>{{medic}}</div>
        <div>ЭЦП {{medicEDS}}</div>
    </div>
</div>
